


#main-header--wrapper{
	background-image:url("../images/main-title.jpg");
	//background-color:aqua;
	background-size:cover;
	//width:100% auto;
	height:650px;

}


.main-header--title {
	padding-top:10%;
	text-align:center;

}




.nav_container--global{
	padding-top:40px;
}


nav{
	background-color:transparentize(#000,0.5);
	ul{
		text-align:center;

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
	}
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
}
li a:hover, .dropdown:hover .dropbtn {
    background-color: complement(#3366CC);
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color:#000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
	background-color: #3366CC;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.nav_list--main{
	display: inline-block;
	padding:0px;
	padding-right:78px;
	> a{
		color:#bfbfbf;
		text-decoration: none;
		padding:20px;
		font-size:$h4-size;
		&:hover{
			color:$hover_link--main;
		}
		&:visited{
			color:$hover_link--main;
		}
	}
}
